<footer class="black-background footer" >
    <section class="first-section">
        <div class="logo-plus-link">
            <img ngSrc="/assets/uber_icon.png" height="80" width="80" alt="">
            <a href="">Acesse a central de ajuda</a>
        </div>
        <span>Uber Technologies Inc. | Uber do Brasil Tecnologia Ltda | <br> Avenida Brigadeiro Faria Lima, n.º 949, Pinheiros, São <br> Paulo/SP - CEP 05.426-200 | CNPJ: 17.895.646/0001-87</span>
    </section>
    <section class="second-section">
        <div class="grid">
            <div class="column">
                <h3>Empresa</h3>
                <a href="">Quem somos?</a>
                <a href="">O que oferecemos</a>
                <a href="">Newsroom</a>
                <a href="">Investidores</a>
                <a href="">Blog</a>
                <a href="">Carreiras</a>
                <a href="">AI</a>
                <a href="">Gift cards</a>
            </div>
            <div class="column">
                <h3>Produtos</h3>
                <a href="">Viajar</a>
                <a href="">Dirigir</a>
                <a href="">Fazer entregas</a>
                <a href="">Faça um pedido</a>
                <a href="">Uber para Empresas</a>
                <a href="">Uber Freight</a>
            </div>
            <div class="column">
                <h3>Cidadania global</h3>
                <a href="">Segurança</a>
                <a href="">Diversidade e inclusão</a>
            </div>
            <div class="column">
                <h3>Viaje</h3>
                <a href="">Reservar</a>
                <a href="">Aeroportos</a>
                <a href="">Cidades</a>
            </div>
        </div>
    </section>
    <section class="third-section">
        <div class="social-media">

        </div>
        <div class="location-language">
            
        </div>
    </section>
</footer>