<header class="app-header">
    <section class="first-section">
        <ul class="list">
            <li><img ngSrc="/assets/uber_icon.png" priority width="80"
                 height="80" alt="icon_uber"></li>
            <li><button>Viajar</button></li>
            <li><button>Dirigir</button></li>
            <li><button>Empresa</button></li>
            <li><button>Uber Eats</button></li>
            <li><button>Sobre</button></li>
        </ul>
    </section>
    <section class="second-section">
        <ul class="list">
            <li><button>PT-BR</button></li>
            <li><button>Ajuda</button></li>
            <li><button>Fazer Login</button></li>
            <li><button class="cadastrar">Cadastre-se</button></li>
        </ul>
    </section>
</header>
