<app-header></app-header>
<main>
    <section class="sections black-background">
        <div class="content-initial">
            <h1>Vá a qualquer lugar <br> com o app da Uber</h1>
            <span>Solicite uma viagem,entre no carro e relaxe</span>
            <app-form></app-form>
        </div>
        <img priority ngSrc="/assets/Ride-with-Uber.png" width="558" height="698" alt="imagem saindo do carro">
    </section>

    <section class="sections">
        <img ngSrc="/assets/earner-illustra.png" width="558" height="558" alt="imagem no carro">
        <div class="content-second">
            <h1>Dirija quando <br> quiser e ganhe de <br> acordo com suas <br> necessidades</h1>
            <span>Ganhe dinheiro com entregas e viagens no horário que você <br>
                difinir. Você pode usar seu próprio carro ou escolher um carro <br>
                alugado por meio do app da uber
            
            </span>
            <div class="btn-link">
                <app-btn btn-text="Começar" styleVariant="secondary"></app-btn>
                <a href="">Já tem uma conta? Fazer login</a>
            </div>
        </div>
    </section>
    <section class="sections">
        <div class="third-content">
            <h1>A plataforma Uber <br> que você conhece, <br> reinventada para empresas</h1>
            <span>A Uber para Empresas é uma plataforma global de gestão de <br> viagens, refeições e entregas locais para empresas de todos <br> os portes</span>
            <div class="btn-link">
                <app-btn btn-text="Começar" styleVariant="secondary"></app-btn>
                <a href="">Confira nossas soluções</a>
            </div>
        </div>
        <img ngSrc="/assets/aeroporto.png" width="558" height="558" alt="aeroporto">
    </section>
    <section class="sections">
        <img ngSrc="/assets/cara-carro.png" width="558" height="558" alt="aeroporto">
        <div class="fourth-content">
            <h1>Ganhe dinhero alugando <br> seu carro</h1>
            <span>Conecte-se com milhares de motoristas parceiros e ganhe <br> mais por semana com as ferramentas gratuitas de <br> gerenciamente da Uber para locadores de veículos.</span>
            <div class="btn-link">
                <app-btn btn-text="Começar" styleVariant="secondary"></app-btn>
                <a href="">Confira nossas soluções</a>
            </div>
        </div>
        
    </section>
</main>