.initial-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
main{
    background-color: black;
}

.content-initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 20px;

    h1{
        font-size: 50px;
    }
    input{
        border-radius: 10px;
        width: 70%;
        padding: 1.2em;
        outline: none;

    }
    input::placeholder{
        font-size: 1.2em;
    }

}