.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 25px;

}

.black-background{
    background-color: black;
}


.content-initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 20px;

    h1{
        font-size: 40px;
    }
    input{
        border-radius: 10px;
        width: 70%;
        padding: 1.2em;
        outline: none;

    }
    input::placeholder{
        font-size: 1.2em;
    }

}



.content-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    h1{
        font-size: 50px;
    }
}
.btn-link{
    display: flex;
    align-items: center;
    gap: 25px;
    
    a{
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
    }
}

.third-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.fourth-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}