<app-header></app-header>
<main>
    <section class="initial-section">
        <div class="content-initial">
            <h1>Vá a qualquer lugar <br> com o app da Uber</h1>
            <span>Solicite uma viagem,entre no carro e relaxe</span>
            <input type="text" placeholder="Informe o local">
            <input type="text" name="" placeholder="Informar o destino" id="">
            <app-btn btn-text="Ver Preços" styleVariant="primary"></app-btn>
        </div>
        <img priority ngSrc="/assets/Ride-with-Uber.png" width="558" height="698" alt="">
    </section>
</main>